<div class="d-flex justify-content-center pb-2">
  <section class="card w-25">
    <div class="">
      {{! <img
        src="../../public/images/User_Avatar.png"
        alt="generic avatar thumbnail image"
        class="img-thumbnail"
      /> }}
      <h2 class="card-title">{{post_title}}</h2>
      <p class="card-text text-center">{{post_comment}}</p>
      {{!-- <h6 class="card-subtitle text-end">{{user_id}}</h6> --}}
      <p class="text-end">{{format_date date_created}}</p>
      {{#if_equals loggedInUID user_id}}
        <button
          data-id="{{id}}"
          class="deleteBtn btn btn-primary"
        >Delete</button>
      {{/if_equals}}
    </div>
  </section>
</div>